<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @card.product %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @card.kana %>
</p>

<p>
  <strong>Num:</strong>
  <%= @card.num %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<p>
  <strong>Image:</strong>
  <%= @card.image %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
